- var class_name = 'main-tab'
section(class=`${class_name}`)
	div(class=`${class_name}__container`)

		div(class=`title`) Популярные модели деревянных окон

		div(class=`tab`)

			div(class=`${class_name}__nav tab__nav`)
				a(class=`${class_name}__link tab__link tab__link--active` href = '#') Деревянные евроокна
				a(class=`${class_name}__link tab__link` href = '#') Дерево - алюминевые
				a(class=`${class_name}__link tab__link` href = '#') Раздвежные порталы
				a(class=`${class_name}__link tab__link` href = '#') Стоечно - регильная <br> система

			//- tabs__content
			div(class=`${class_name}__content tabs__content` )

				//- контент первого таба
				div(class=`tab__content-item tab__content-item--active`)


				div(class=`tab__content-item tab__content-item`)


				div(class=`tab__content-item tab__content-item`)

				div(class=`tab__content-item tab__content-item`)


		div(class=`${class_name}__all`)
			a(href='') Смотреть все модели
