// -----------------------частые вопросы
- var class_name = 'services-fag'
section(class=`${class_name} container`)
    div(class=`title`) Вопросы и ответы об укреплении берега лиственницей в Нижнем Новгороде
    - var fag = 'fag'

    div(class=`${fag}`)
        mixin item(question, answer, active)

            div(class=`${fag}__item ${active}` data-detail = '1')
                div(class=`${fag}__item-question-inner`)
                    div(class=`${fag}__item-question` data-question = '1')= question
                    div(class=`${fag}__item-question-plus`)

                div(class=`${fag}__item-answer` data-answer = '1')= answer

        +item('Сколько времени потребуется для проведения работ?', 'Наши сотрудники используют современные, надежные и функциональные земснаряды Botsman M. Применение такой техники позволяет достичь высокого качества и отличной производительности. Земснаряды не имеют альтернатив, когда невозможно опустошить водоем.','')
        +item('Какова стоимость укрепления?', 'Наши сотрудники используют современные, надежные и функциональные земснаряды Botsman M. Применение такой техники позволяет достичь высокого качества и отличной производительности. Земснаряды не имеют альтернатив, когда невозможно опустошить водоем.','')
        +item('Какова стоимость укрепления?', 'Наши сотрудники используют современные, надежные и функциональные земснаряды Botsman M. Применение такой техники позволяет достичь высокого качества и отличной производительности. Земснаряды не имеют альтернатив, когда невозможно опустошить водоем.','open')
