//- sohial
- var class_name = 'sohial'

div(class = `${class_name}`)
	a(class = `${class_name}__link` href='https://t.me/@olgasashina')
		img(class=`${class_name}__img` src=`/assets/img/icon/telegram.png` alt=`#`)

	a(class = 'sohial__link' href='https://viber.click/79503446443')
		img(class=`${class_name}__img` src=`/assets/img/icon/viber-icon.png` alt=`#`)

	a(class = 'sohial__link' href='https://wa.me/89503446443')
		img(class=`${class_name}__img` src=`/assets/img/icon/whatsapp-icon.png` alt=`#`)


- var class_name = 'section-top'

section(class=`${class_name}`)
	div(class=`${class_name}__arr`)

	//- grid-top
	div(class=`${class_name}__grid`)

		//- description
		div(class=`${class_name}-descr`)
			div(class=`${class_name}-descr__content`)
				div(class=`${class_name}-descr__title`) Вертикальное <span>гильотинное</span> остекление

			a(class=`btn` href=`#form`) Заявка на расчёт


		//- slider
		div(class=`${class_name}-img`)
			img(class=`${class_name}-img__img` src=`/assets/img/window-gilotine/top-section.jpg` alt=`#`)


