- var class_name = 'top-specification'

section(class=`${class_name}`)
    div(class=`${class_name}__container`)

        div(class=`${class_name}__list`)
            mixin item(name,descr)

                div(class=`item-${class_name}`)
                    div(class=`item-${class_name}__title`)= name
                    div(class=`item-${class_name}__descr`)= descr


            +item('Панорамное окно без ограничений', 'Вы и Ваши гости сможете любоваться видом из панорамного окна без ограничений, даже в закрытом состоянии тонкие алюминиевые рамы минимально закрывают обзор')
            +item('Хорошая тепло- и звукоизоляция','Вы можете пользоваться верандой круглый год, а не только в хорошую погоду, окна-гильотины обладают хорошей тепло- и звукоизоляцией.')
            +item('Створки двигаются вертикально','Вы можете максимально использовать площадь рядом с окном - створки двигаются вертикально и не требуют места для открывания')
            +item('Достаточно нажать кнопку','Вы можете легко и быстро открыть или закрыть окно при необходимости - достаточно нажать кнопку, мотор поднимет окно на нужную высоту, также на нем есть блокиратор несанкционированного открыввания')
