- var class_name = 'types-panels'

section(class=`${class_name}`)
    //-- container
    div(class=`${class_name}__container`)
        div(class=`${class_name}__title`) Виды панелей


        //-- grid-top
        div(class=`${class_name}__grid`)

            //- description
            div(class=`${class_name}-descr`)

                div(class=`${class_name}-descr__top`)
                    p В варианте с нижней фиксированной панелью, в открытом состоянии панели собираются внизу и образуют перила

                div(class=`${class_name}-descr__bottom`)
                    p В варианте с верхней фиксированной панелью в открытом состоянии панели собираются наверху, образуя открытый проход.  <br><br> В этом случае окно комплектуется блоком безопасности от падения панелей

            //-- slider
            div(class=`${class_name}-img`)
                img(class=`${class_name}-img__img` src=`/assets/img/window-gilotine/gilotina-razrez.jpg` alt=`#`)
