.div.seo__wrapper

    //- seo-description
    - var class_name = 'seo-description'
    section(class=`${class_name}`)

        div(class=`${class_name}__container`)

            //- 1 ряд
            div(class=`${class_name}-row`)

                //- левая колонка
                div(class=`${class_name}-row-left`)
                    h2(class=`${class_name}-row-left__title`) оптимизация и ПРОДВИЖЕНИЕ САЙТОВ –
                    div(class=`${class_name}-row-left__caption`) цель и приемущества

                //- правая колонка
                div(class=`${class_name}-row-right`)
                    div(class=`${class_name}-row-right__text`) SEO продвижение сайта обладает основной целью – вывод портала в ТОП-10 на самых популярных поисковых площадках внутри страны, которыми являются Яндекс и Google. К основным методам интернет-раскрутки относится аналитика. Во время продвижения сотрудники SEO компании проводят сбор информации о работе Вашей организации и данные о конкурентах. Услуги по продвижению сайтов – плюсы:

    //- seo-description-services
    - var class_name = 'seo-description-services'
    section(class=`${class_name}`)
        div(class=`${class_name}__container`)

            div(class=`${class_name}__list`)
                mixin item(name,img)

                    div(class=`${class_name}-item`)

                        div(class=`${class_name}-item__name`)= name




                +item('Осуществление грамотных технических доработок')
                +item('Увеличение количества клиентов, товарооборота, прибыли')
                +item('Осуществление грамотных технических доработок')
                +item('Увеличение количества клиентов, товарооборота, прибыли')
                +item('Осуществление грамотных технических доработок')

    //- seo-description-text
    - var class_name = 'seo-description-text'
    section(class=`${class_name}`)
        | <svg
        | xmlns="http://www.w3.org/2000/svg"
        | xmlns:xlink="http://www.w3.org/1999/xlink"
        | height="1205px" class = 'seo-description-text__ellipse'>
        | <path fill-rule="evenodd"  opacity="0.322" fill="rgb(232, 232, 232)"
        | d="M602.500,-0.001 C935.251,-0.001 1205.000,269.747 1205.000,602.499 C1205.000,935.250 935.251,1204.999 602.500,1204.999 C269.748,1204.999 -0.000,935.250 -0.000,602.499 C-0.000,269.747 269.748,-0.001 602.500,-0.001 Z"/>
        | </svg>
        div(class=`${class_name}__container`)

            //- 1 ряд
            div(class=`${class_name}-row`)

                //- левая колонка
                div(class=`${class_name}-row-left`)
                    div(class=`${class_name}-row-left__text`) Увеличение посетителей сайта, будь то интернет магазин или корпоративный сайт, происходит благодаря привлечению целевой аудитории с помощью тематических запросов.

                //- правая колонка
                div(class=`${class_name}-row-right`)
                    div(class=`${class_name}-row-right__text`) Это становится возможным из-за повышения расположения портала в ведущих поисковых системах страны и всего мира. Благодаря длительному нахождению на ТОП-позициях продукт, предлагаемая услуга или название фирмы становятся всё более узнаваемыми среди большого количества пользователей интернета.


    //- seo-description-complex
    - var class_name = 'seo-description-complex'
    section(class=`${class_name}`)

        div(class=`${class_name}__container`)

            //- 1 ряд
            div(class=`${class_name}-row`)

                //- левая колонка
                div(class=`${class_name}-row-left`)
                    h2(class=`${class_name}-row-left__title`) КОМПЛЕКСНОЕ ПРОДВИЖЕНИЕ САЙТОВ –
                    h2(class=`${class_name}-row-left__methods`) Используемые методы


                //- правая колонка
                div(class=`${class_name}-row-right`)
                    h3(class=`${class_name}-row-right__title`) Сео продвижение сайтов в Москве представляет собой использование современных методов,
                    p(class=`${class_name}-row-right__text`) которые являются эффективными при раскрутке порталов. В оказании услуги важны знания маркетинговых принципов, а также механизмов действия поисковых систем. Ими обладают специалисты организации. Наличие умений и знаний способны осуществить реальное продвижение интернет магазинов, информационных порталов, корпоративных и других сайтов, и, как следствие к увеличению их посетителей.

    //- seo-description-methods
    - var class_name = 'seo-description-methods'
    section(class=`${class_name}`)
        div(class=`${class_name}__container`)

            div(class=`${class_name}__list`)
                mixin item(name,img)

                    div(class=`${class_name}-item`)

                        div(class=`${class_name}-item__name`)= name


                +item('Создание <br> работающей <br>стратегии')
                +item('Анализ информации о конкуренции')
                +item('Создание <br> работающей <br>стратегии')
                +item('Анализ ирформации о конкурентах')
                +item('Создание <br> работающей <br>стратегии')
                +item('Создание <br> работающей <br>стратегии')

    //- seo-include



    - var class_name = 'seo-include'
    section(class=`${class_name} tab`)
        div(class=`${class_name}__container`)
            div(class=`${class_name}__title`) ЧТО ВХОДИТ В SEO ПРОДВИЖЕНИЕ КОРПОРАТИВНОГО САЙТА?

            div(class=`${class_name}__wrapper`)

                    //- tab__nav
                    div(class=`${class_name}__nav tab__nav`)

                        div(class=`${class_name}__link tab__link tab__link--active`)
                            div(class=`${class_name}__link-num`) 01
                            div(class=`${class_name}__link-text`) Подготовка и формирование плана работ по сайту

                        div(class=`${class_name}__link tab__link`)
                            div(class=`${class_name}__link-num`) 02
                            div(class=`${class_name}__link-text`) Сбор и распределение ключевых запросов

                        div(class=`${class_name}__link tab__link`)
                            div(class=`${class_name}__link-num`) 03
                            div(class=`${class_name}__link-text`) Настройка сайта и системы аналитики

                        div(class=`${class_name}__link tab__link`)
                            div(class=`${class_name}__link-num`) 04
                            div(class=`${class_name}__link-text`) Составление технического задания и написание текстов

                        div(class=`${class_name}__link tab__link`)
                            div(class=`${class_name}__link-num`) 05
                            div(class=`${class_name}__link-text`) Сбор и распределение ключевых запросов

                        div(class=`${class_name}__link tab__link`)
                            div(class=`${class_name}__link-num`) 06
                            div(class=`${class_name}__link-text`) Настройка сайта и системы  аналитики

                        div(class=`${class_name}__link tab__link`)
                            div(class=`${class_name}__link-num`) 07
                            div(class=`${class_name}__link-text`) Контроль и улучшение сайта




                    //- tabs__content
                    div(class=`${class_name}__content tabs__content` )

                        //- контент первого таба
                        div(class=`tab__content-item tab__content-item--active`)
                            div(class=`tab__content-title `) 01
                            ul(class=`tab__content-ul`)
                                li(class='li--one') Проверка индексаци и <span>в Яндексе и в Google</span>
                                li(class='li--two') Проверка корректности robots.txt
                                li(class='li--three') Проверка структуры сайта
                                li(class='li--two') Проверка корректности составления ЧПУ
                                li(class='li--three') Проверка настройки кодов ответа сервера (200, 404, 50*)
                                li(class='li--four') Проверка на дубликаты страниц, мета-тегов
                                li(class='li--one') Проверка <span>HTML кода сайта</span>
                                li(class='li--four') Проверка корректности оформления страницы контактов
                                li(class='li--three') Проверка контента сайта на спам
                                li(class='li--two') Проверка контента на <span>уникальность текста</span>
                                li(class='li--three') Анализ внешних ссылок
                                li(class='li--four') Проверка работоспособности HTML форм на сайте
                                li(class='li--four') Проведение юзабилити аудита

                        //- контент второго таба
                        div(class=`${class_name}-item tab__content-item`)
                                div(class=`tab__content-title `) 02
                                ul(class=`tab__content-ul`)
                                    li Проверка индексаци и <span>в Яндексе и в Google</span>
                                    li Проверка корректности robots.txt
                                    li Проверка структуры сайта
                                    li Проверка корректности составления ЧПУ
                                    li Проверка настройки кодов ответа сервера (200, 404, 50*)
                                    li Проверка на дубликаты страниц, мета-тегов
                                    li Проверка <span>HTML кода сайта</span>
                                    li Проверка корректности оформления страницы контактов
                                    li Проверка контента сайта на спам
                                    li Проверка контента на <span>уникальность текста</span>
                                    li Анализ внешних ссылок
                                    li Проверка работоспособности HTML форм на сайте
                                    li Проведение юзабилити аудита

                        //- контент второго таба
                        div(class=`${class_name}-item tab__content-item`)
                            div(class=`tab__content-title `) 03
                                ul(class=`tab__content-ul`)
                                    li Проверка индексаци и <span>в Яндексе и в Google</span>
                                    li Проверка корректности robots.txt
                                    li Проверка структуры сайта
                                    li Проверка корректности составления ЧПУ
                                    li Проверка настройки кодов ответа сервера (200, 404, 50*)
                                    li Проверка на дубликаты страниц, мета-тегов
                                    li Проверка <span>HTML кода сайта</span>
                                    li Проверка корректности оформления страницы контактов
                                    li Проверка контента сайта на спам
                                    li Проверка контента на <span>уникальность текста</span>
                                    li Анализ внешних ссылок
                                    li Проверка работоспособности HTML форм на сайте
                                    li Проведение юзабилити аудита

                        //- контент второго таба
                        div(class=`${class_name}-item tab__content-item`)
                            div(class=`tab__content-title `) 04
                                ul(class=`tab__content-ul`)
                                    li Проверка индексаци и <span>в Яндексе и в Google</span>
                                    li Проверка корректности robots.txt
                                    li Проверка структуры сайта
                                    li Проверка корректности составления ЧПУ
                                    li Проверка настройки кодов ответа сервера (200, 404, 50*)
                                    li Проверка на дубликаты страниц, мета-тегов
                                    li Проверка <span>HTML кода сайта</span>
                                    li Проверка корректности оформления страницы контактов
                                    li Проверка контента сайта на спам
                                    li Проверка контента на <span>уникальность текста</span>
                                    li Анализ внешних ссылок
                                    li Проверка работоспособности HTML форм на сайте
                                    li Проведение юзабилити аудита

                        //- контент второго таба
                        div(class=`${class_name}-item tab__content-item`)
                            div(class=`tab__content-title `) 05
                                ul(class=`tab__content-ul`)
                                    li Проверка индексаци и <span>в Яндексе и в Google</span>
                                    li Проверка корректности robots.txt
                                    li Проверка структуры сайта
                                    li Проверка корректности составления ЧПУ
                                    li Проверка настройки кодов ответа сервера (200, 404, 50*)
                                    li Проверка на дубликаты страниц, мета-тегов
                                    li Проверка <span>HTML кода сайта</span>
                                    li Проверка корректности оформления страницы контактов
                                    li Проверка контента сайта на спам
                                    li Проверка контента на <span>уникальность текста</span>
                                    li Анализ внешних ссылок
                                    li Проверка работоспособности HTML форм на сайте
                                    li Проведение юзабилити аудита

                        //- контент второго таба
                        div(class=`${class_name}-item tab__content-item`)
                            div(class=`tab__content-title `) 06
                                ul(class=`tab__content-ul`)
                                    li Покупка вечных ссылок на порталах со статьями
                                    li Удаление негативных отзывов на тематических порталах
                                    li Размещение положительных отзывов на тематических порталах


                        //- контент второго таба
                        div(class=`${class_name}-item tab__content-item`)
                            div(class=`tab__content-title `) 07
                                ul(class=`tab__content-ul`)
                                    li Ежеминутный мониторинг доступности сайта
                                    li Ежедневная работа над улучшением поведенческих факторов у сайта
                                    li Ежедневная отчётность по позициям
                                    li Еженедельная диагностика сайта
                                    li Ежемесячная проверка оптимизации сайта
                                    li Ежеквартальная актуализация семантического ядра
                                    li Ежедневный мониторинг репутации компании в интернете



    // -----------------------частые вопросы

    - var class_name = 'seo-fag'

    section(class=`${class_name}`)
        div(class=`${class_name}__container`)
            div(class=`${class_name}__title`) ВОПРОС - ОТВЕТ?

            - var fag = 'fag'
            section(class=`${fag}`)

                mixin item(question, answer, active)
                    div(class=`${fag}__item ${active}` data-detail = '1')
                        div(class=`${fag}__wrapper-question`)
                            div(class=`${fag}__question` data-question = '1')= question
                            div(class=`${fag}__question-plus`)
                        div(class=`${fag}__answer` data-answer = '1')= answer

                +item('Что вы делаете в рамках SEO-оптимизации сайтов?', 'Это ряд мероприятий по техническому аудиту сайта, его настройке для создания новых страниц, размещению SEO-статей и формированию кластера ключевых запросов. Подробный список производимых работ с удовольствием доведем до Вашего сведения личн','open')
                +item('Как мы будем проверять вашу работу по SEO-продвижению?', 'Это ряд мероприятий по техническому аудиту сайта, его настройке для создания новых страниц, размещению SEO-статей и формированию кластера ключевых запросов. Подробный список производимых работ с удовольствием доведем до Вашего сведения личн','')
                +item('Вы предоставляете отчет о проделанной работе по SEO-продвижению?', 'Это ряд мероприятий по техническому аудиту сайта, его настройке для создания новых страниц, размещению SEO-статей и формированию кластера ключевых запросов. Подробный список производимых работ с удовольствием доведем до Вашего сведения личн','')
                +item('Как быстро можно получить результат в SEO-продвижении?', 'Это ряд мероприятий по техническому аудиту сайта, его настройке для создания новых страниц, размещению SEO-статей и формированию кластера ключевых запросов. Подробный список производимых работ с удовольствием доведем до Вашего сведения личн','')
