//- name-slider
- var class_slider = 'page-map-slider'

div(class=`${class_slider}-main swiper-container`)
    div(class=`swiper-wrapper`)

        mixin item(img)
            div(class=`${class_slider}-main-slide swiper-slide`)= img

        +item('1', '', '')
        +item('2', '', '')
        +item('3', '', '')
        +item('4', '', '')
        +item('5', '', '')
        +item('6', '', '')


div(class=`${class_slider}-nav`)
    div(class='swiper-wrapper')
        div(class=` ${class_slider}-nav-slide swiper-slide`) 1
        div(class=` ${class_slider}-nav-slide swiper-slide`) 2
        div(class=` ${class_slider}-nav-slide swiper-slide`) 3
        div(class=` ${class_slider}-nav-slide swiper-slide`) 4
        div(class=` ${class_slider}-nav-slide swiper-slide`) 5
