- var class_name1 = 'advantages-list-slider'

div(class=`${class_name1} swiper-container`)
	div(class=`${class_name1}__wrapper swiper-wrapper`)
		mixin item(img, title, descr)
			div(class=`${class_name1}-slide swiper-slide`)
				div(class=`${class_name1}-slide__title`)= title



		+item('assets/img/home/specification-slider/icon1.png', '1 слайд', 'Одна из наиболее динамично развихся компаний в сфере торговли')
		+item('assets/img/home/specification-slider/icon2.png', '2 слайд', 'Одна из наиболее динамично развихся компаний в сфере торговли')
		+item('assets/img/home/specification-slider/icon3.png', '3 слайд', 'Одна из наиболее динамично развихся компаний в сфере торговли')

	div(class=`${class_name1}-pagination swiper-pagination`)
	div(class=`${class_name1}-button-prev swiper-button-prev`)
	div(class=`${class_name1}-button-next swiper-button-next`)
