- var class_item = 'product-item'
mixin item(img)

	div(class=`${class_item}-item`)
		div(class=`${class_item}__wrap-img`)
			img(class=`` src=`assets/img/main-page/popular-model.jpg` alt=`#`)

		div(class=`${class_item}__table`)
			div(class=`${class_item}__table-td`) Материал изготовления
			div(class=`${class_item}__table-td`) Цена за окно руб.
			div(class=`${class_item}__table-td`) Цена с монтажом от

			div(class=`${class_item}__table-td`) Сосна В
			div(class=`${class_item}__table-td`) 15 222
			div(class=`${class_item}__table-td`) 18 222

			div(class=`${class_item}__table-td`) Листв. В
			div(class=`${class_item}__table-td`) 17 884
			div(class=`${class_item}__table-td`) 20 884

			div(class=`${class_item}__table-td`) Дуб <br> цельн.
			div(class=`${class_item}__table-td`) 27 573
			div(class=`${class_item}__table-td`) 30 573


+item()
