- var class_name = 'screen-9'

section(class=`${class_name}`)
    div(class=`${class_name}__container`)


        div(class=`${class_name}__grid`)

            div(class=`${class_name}-column-left`) 1

            div(class=`${class_name}-column-right`) 2





