//- 5 ряд новости
- var row = `${class_name}-row5`
div(class=`${row} ${row}__container`)

	//- левая колонка
	- var columnLeft = `${row}-left`
	div(class=`${columnLeft}`)
		div(class=`${columnLeft}__img`)
			img(src='assets/img/main/screen-1.jpg' alt=`#`)

	//- прававя колонка
	- var columnRight = `${row}-right`
	div(class=`${columnRight}`)
		h2 Новости
