- var class_name = 'products-main'

section(class=`${class_name}`)

    div(class=`${class_name}__title`) Бетон М 150 (В 12,5)

    div(class=`${class_name}__grid`)

        div(class=`${class_name}-img`)
            img(class=`${class_name}-img__img` src=`https://alfa52.ru/userfls/bs/uyaku_61.jpg` alt=`#`)
            // img(class=`${class_name}-img__img` src=`assets/img/home/about2.jpg` alt=`#`)

        div(class=`${class_name}-descr`)
            div(class=`${class_name}-descr__subtitle`) Наше производство
            div(class=`${class_name}-descr__title`) Profplast широко используется в качестве заборов
            div(class=`${class_name}-descr__descr`) Profplast может быть применен в качестве кровельного материала на любых скатных крышах, а именно: крыши домов, навесов, беседок, промышленных зданий и сооружений, а также ангаров арочного типа!
            div(class=`${class_name}-descr__nav`)
                a(class=`${class_name}-descr__nav-btn` href=`#`) О производстве
