.div.seo__wrapper

    // -----------------------частые вопросы
    - var class_name = 'seo-fag'
    section(class=`${class_name}`)
        div(class=`${class_name}__container`)
            div(class=`${class_name}__title`) ВОПРОС - ОТВЕТ?

            - var fag = 'fag'
            section(class=`${fag}`)

                mixin item(question, answer, active)
                    div(class=`${fag}__item ${active}` data-detail = '1')
                        div(class=`${fag}__wrapper-question`)
                            div(class=`${fag}__question` data-question = '1')= question
                            div(class=`${fag}__question-plus`)
                        div(class=`${fag}__answer` data-answer = '1')= answer

                +item('Что вы делаете в рамках SEO-оптимизации сайтов?', 'Это ряд мероприятий по техническому аудиту сайта, его настройке для создания новых страниц, размещению SEO-статей и формированию кластера ключевых запросов. Подробный список производимых работ с удовольствием доведем до Вашего сведения личн','open')
                +item('Как мы будем проверять вашу работу по SEO-продвижению?', 'Это ряд мероприятий по техническому аудиту сайта, его настройке для создания новых страниц, размещению SEO-статей и формированию кластера ключевых запросов. Подробный список производимых работ с удовольствием доведем до Вашего сведения личн','')
                +item('Вы предоставляете отчет о проделанной работе по SEO-продвижению?', 'Это ряд мероприятий по техническому аудиту сайта, его настройке для создания новых страниц, размещению SEO-статей и формированию кластера ключевых запросов. Подробный список производимых работ с удовольствием доведем до Вашего сведения личн','')
                +item('Как быстро можно получить результат в SEO-продвижении?', 'Это ряд мероприятий по техническому аудиту сайта, его настройке для создания новых страниц, размещению SEO-статей и формированию кластера ключевых запросов. Подробный список производимых работ с удовольствием доведем до Вашего сведения личн','')
