- var class_name = 'section-top'

section(class=`${class_name}`)
	div(class=`${class_name}__arr`)

	// grid-top
	div(class=`${class_name}__grid`)

		// description
		div(class=`${class_name}-descr`)
			div(class=`${class_name}-descr__content`)
				div(class=`${class_name}-descr__title`) <span>Безрамное</span> остекление
				div(class=`${class_name}-descr__subtitle`) Оптимальное решение для дома или бизнеса

			a(class=`btn` href=`#form`) Заявка на расчёт

		// slider
		div(class=`${class_name}-img`)
			img(class=`${class_name}-img__img` src=`/assets/img/window-gilotine/top-section.jpg` alt=`#`)
