- var class_name = 'top-specification'

section(class=`${class_name}`)
    div(class=`${class_name}__container`)

        div(class=`${class_name}__list`)

            div(class=`item-${class_name}`)
                div(class=`item-${class_name}__title`) Оптимальное<br> решение для дома<br> или бизнеса
                div(class=`item-${class_name}__descr`) Оптимальное решение для дома или бизнеса

            div(class=`item-${class_name}`)
                div(class=`item-${class_name}__title`) Легко<br> разграничить
                div(class=`item-${class_name}__descr`) Легко разграничить полезную площадь квартиры или офиса

            div(class=`item-${class_name} item-${class_name}--big-text`)
                div(class=`item-${class_name}__title `) Комфорт<br> на<br> веранде <span>круглый<br> год</span>


            div(class=`item-${class_name}`)
                div(class=`item-${class_name}__title`) Возможность<br> установки<br> после<br> завершения<br> всех<br> отделочных<br> работ

