- var class_name = 'types-partitions'

section(class=`${class_name}`)
    div(class=`${class_name}__container`)
        div(class=`${class_name}__title`) Виды перегородок


        div(class=`${class_name}__list`)

            a(class=`item-${class_name}` href='#one')
                img(class=`${class_name}__img` src=`/assets/img/content/types-partitionals/1.jpg` alt=`#`)
                div(class=`item-${class_name}__info`)
                    div(class=`item-${class_name}__info-name`) Слайд
                    div(class=`item-${class_name}__info-detail`) Подробнее

            a(class=`item-${class_name}` href='#two')
                img(class=`${class_name}__img` src="/assets/img/content/types-partitionals/2.jpg" alt=`#`)
                div(class=`item-${class_name}__info`)
                    div(class=`item-${class_name}__info-name`) Книжка
                    div(class=`item-${class_name}__info-detail`) Подробнее

            a(class=`item-${class_name}` href='#three')
                img(class=`${class_name}__img` src=`/assets/img/content/types-partitionals/3.jpg` alt=`#`)
                div(class=`item-${class_name}__info`)
                    div(class=`item-${class_name}__info-name`) Цельностеклянная перегородка





