- var class_name = 'types-panels'

section(class=`${class_name}`)
    //-- container
    div(class=`${class_name}__container`)
        div(class=`${class_name}__title`) Преимущества слайда


        //-- grid-top
        div(class=`${class_name}__grid`)

            //- description
            div(class=`${class_name}-descr`)

                div(class=`${class_name}-descr__top`)
                    p Блестящий вид без помех - гладкая, почти незаметная стеклянная поверхность без лишних деталей

                div(class=`${class_name}-descr__bottom`)
                    p Свободный проем - неограниченное число рельсов, створок, ширина перекрываемого проема не ограничена <br><br><span>Вы защищены -  запирание на защелку или ригельный замок!</span>


            //-- img
            div(class=`${class_name}-img`)
                img(class=`${class_name}-img__img` src=`/assets/img/page2/advantages-slaid.jpg` alt=`#`)
