
- var class_name = 'main-reviews'
section(class=`${class_name} tab`)
    div(class=`${class_name}__container`)
        div(class=`${class_name}__title`)   Этапы остекления балконов

        div(class=`${class_name}__inner`)

            //- tab__nav
            div(class=`${class_name}__nav tab__nav`)

                div(class=`${class_name}__link tab__link tab__link--active`)
                    li(class=`${class_name}__left-li `) <span>1</span>Подготовительные работы

                div(class=`${class_name}__link tab__link`)
                    li(class=`${class_name}__left-li`) <span>2</span>Балкон без остекления

                div(class=`${class_name}__link tab__link`)
                    li(class=`${class_name}__left-li`) <span>3</span>Замерный лист

                div(class=`${class_name}__link tab__link`)
                    li(class=`${class_name}__left-li`) <span>4</span>Внешнее остикление парапета

                div(class=`${class_name}__link tab__link`)
                    li(class=`${class_name}__left-li`) <span>5</span>Установка остекления

                div(class=`${class_name}__link tab__link`)
                    li(class=`${class_name}__left-li`) <span>6</span>Козырёк под остикление

                div(class=`${class_name}__link tab__link`)
                    li(class=`${class_name}__left-li`) <span>7</span>Установка водоотьива

                div(class=`${class_name}__link tab__link`)
                    li(class=`${class_name}__left-li`) <span>8</span>Приступаем к ремонту

                div(class=`${class_name}__link tab__link`)
                    li(class=`${class_name}__left-li`) <span>9</span>Монтаж утепления

                div(class=`${class_name}__link tab__link`)
                    li(class=`${class_name}__left-li`) <span>10</span>Утепление пенофолом и чёрный пол

                div(class=`${class_name}__link tab__link`)
                    li(class=`${class_name}__left-li`) <span>11</span>Порог

                div(class=`${class_name}__link tab__link`)
                    li(class=`${class_name}__left-li`) <span>12</span>Настил ленолиума

                div(class=`${class_name}__link tab__link`)
                    li(class=`${class_name}__left-li`) <span>13</span>Стены из ПВХ панелей

                div(class=`${class_name}__link tab__link`)
                    li(class=`${class_name}__left-li`) <span>14</span>LED светильники и сушилка для белья

                div(class=`${class_name}__link tab__link`)
                    li(class=`${class_name}__left-li`) <span>15</span>Результаты работы




            //- tabs__content
            div(class=`${class_name}__content tabs__content` )

                //- контент
                div(class=`tab__content-item tab__content-item--active`)
                    - var class_name = `${class_name}-slider`
                    div(class=`${class_name} swiper-container`)
                        div(class=`${class_name}__title`) Шаг № 4 Внешнее остекление парапета
                        div(class=`${class_name}__wrapper swiper-wrapper`)
                            mixin item(name, caption, descr)
                                div(class=`${class_name}-slide swiper-slide`)
                                    img(class=`` src=`https://arbor-nn.ru/wp-content/uploads/2023/02/rectangle-3.jpg` alt=`#`)

                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')


                    div(class=`${class_name}-navigation`)
                        div(class=`${class_name}-navigation__button-prev`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                        div(class=`${class_name}-navigation__button-next`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                    button(class=`${class_name}__btn` data-path="first") Оставить заявку

                //- контент
                div(class=`tab__content-item`)
                    - var class_name = `${class_name}`
                    div(class=`${class_name} swiper-container`)
                        div(class=`${class_name}__title`) Шаг № 4 Внешнее остекление парапета
                        div(class=`${class_name}__wrapper swiper-wrapper`)
                            mixin item(name, caption, descr)
                                div(class=`${class_name}-slide swiper-slide`)
                                    img(class=`` src=`https://arbor-nn.ru/wp-content/uploads/2023/02/rectangle-3.jpg` alt=`#`)

                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')


                    div(class=`${class_name}-navigation`)
                        div(class=`${class_name}-navigation__button-prev`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                        div(class=`${class_name}-navigation__button-next`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                    button(class=`${class_name}__btn` data-path="first") Оставить заявку

                //- контент
                div(class=`tab__content-item`)
                    - var class_name = `${class_name}`
                    div(class=`${class_name} swiper-container`)
                        div(class=`${class_name}__title`) Шаг № 4 Внешнее остекление парапета
                        div(class=`${class_name}__wrapper swiper-wrapper`)
                            mixin item(name, caption, descr)
                                div(class=`${class_name}-slide swiper-slide`)
                                    img(class=`` src=`https://arbor-nn.ru/wp-content/uploads/2023/02/rectangle-3.jpg` alt=`#`)

                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')


                    div(class=`${class_name}-navigation`)
                        div(class=`${class_name}-navigation__button-prev`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                        div(class=`${class_name}-navigation__button-next`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                    button(class=`${class_name}__btn` data-path="first") Оставить заявку

                //- контент
                div(class=`tab__content-item`)
                    - var class_name = `${class_name}`
                    div(class=`${class_name} swiper-container`)
                        div(class=`${class_name}__title`) Шаг № 4 Внешнее остекление парапета
                        div(class=`${class_name}__wrapper swiper-wrapper`)
                            mixin item(name, caption, descr)
                                div(class=`${class_name}-slide swiper-slide`)
                                    img(class=`` src=`https://arbor-nn.ru/wp-content/uploads/2023/02/rectangle-3.jpg` alt=`#`)

                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')


                    div(class=`${class_name}-navigation`)
                        div(class=`${class_name}-navigation__button-prev`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                        div(class=`${class_name}-navigation__button-next`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                    button(class=`${class_name}__btn` data-path="first") Оставить заявку

                //- контент
                div(class=`tab__content-item`)
                    - var class_name = `${class_name}`
                    div(class=`${class_name} swiper-container`)
                        div(class=`${class_name}__title`) Шаг № 4 Внешнее остекление парапета
                        div(class=`${class_name}__wrapper swiper-wrapper`)
                            mixin item(name, caption, descr)
                                div(class=`${class_name}-slide swiper-slide`)
                                    img(class=`` src=`https://arbor-nn.ru/wp-content/uploads/2023/02/rectangle-3.jpg` alt=`#`)

                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')


                    div(class=`${class_name}-navigation`)
                        div(class=`${class_name}-navigation__button-prev`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                        div(class=`${class_name}-navigation__button-next`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                    button(class=`${class_name}__btn` data-path="first") Оставить заявку

                //- контент
                div(class=`tab__content-item`)
                    - var class_name = `${class_name}`
                    div(class=`${class_name} swiper-container`)
                        div(class=`${class_name}__title`) Шаг № 4 Внешнее остекление парапета
                        div(class=`${class_name}__wrapper swiper-wrapper`)
                            mixin item(name, caption, descr)
                                div(class=`${class_name}-slide swiper-slide`)
                                    img(class=`` src=`https://arbor-nn.ru/wp-content/uploads/2023/02/rectangle-3.jpg` alt=`#`)

                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')


                    div(class=`${class_name}-navigation`)
                        div(class=`${class_name}-navigation__button-prev`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                        div(class=`${class_name}-navigation__button-next`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                    button(class=`${class_name}__btn` data-path="first") Оставить заявку



                //- контент
                div(class=`tab__content-item`)
                    - var class_name = `${class_name}`
                    div(class=`${class_name} swiper-container`)
                        div(class=`${class_name}__title`) Шаг № 4 Внешнее остекление парапета
                        div(class=`${class_name}__wrapper swiper-wrapper`)
                            mixin item(name, caption, descr)
                                div(class=`${class_name}-slide swiper-slide`)
                                    img(class=`` src=`https://arbor-nn.ru/wp-content/uploads/2023/02/rectangle-3.jpg` alt=`#`)

                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')


                    div(class=`${class_name}-navigation`)
                        div(class=`${class_name}-navigation__button-prev`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                        div(class=`${class_name}-navigation__button-next`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                    button(class=`${class_name}__btn` data-path="first") Оставить заявку
                //- контент
                div(class=`tab__content-item`)
                    - var class_name = `${class_name}`
                    div(class=`${class_name} swiper-container`)
                        div(class=`${class_name}__title`) Шаг № 4 Внешнее остекление парапета
                        div(class=`${class_name}__wrapper swiper-wrapper`)
                            mixin item(name, caption, descr)
                                div(class=`${class_name}-slide swiper-slide`)
                                    img(class=`` src=`https://arbor-nn.ru/wp-content/uploads/2023/02/rectangle-3.jpg` alt=`#`)

                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')


                    div(class=`${class_name}-navigation`)
                        div(class=`${class_name}-navigation__button-prev`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                        div(class=`${class_name}-navigation__button-next`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                    button(class=`${class_name}__btn` data-path="first") Оставить заявку
                //- контент
                div(class=`tab__content-item`)
                    - var class_name = `${class_name}`
                    div(class=`${class_name} swiper-container`)
                        div(class=`${class_name}__title`) Шаг № 4 Внешнее остекление парапета
                        div(class=`${class_name}__wrapper swiper-wrapper`)
                            mixin item(name, caption, descr)
                                div(class=`${class_name}-slide swiper-slide`)
                                    img(class=`` src=`https://arbor-nn.ru/wp-content/uploads/2023/02/rectangle-3.jpg` alt=`#`)

                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')


                    div(class=`${class_name}-navigation`)
                        div(class=`${class_name}-navigation__button-prev`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                        div(class=`${class_name}-navigation__button-next`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                    button(class=`${class_name}__btn` data-path="first") Оставить заявку
                //- контент
                div(class=`tab__content-item`)
                    - var class_name = `${class_name}`
                    div(class=`${class_name} swiper-container`)
                        div(class=`${class_name}__title`) Шаг № 4 Внешнее остекление парапета
                        div(class=`${class_name}__wrapper swiper-wrapper`)
                            mixin item(name, caption, descr)
                                div(class=`${class_name}-slide swiper-slide`)
                                    img(class=`` src=`https://arbor-nn.ru/wp-content/uploads/2023/02/rectangle-3.jpg` alt=`#`)

                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')


                    div(class=`${class_name}-navigation`)
                        div(class=`${class_name}-navigation__button-prev`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                        div(class=`${class_name}-navigation__button-next`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                    button(class=`${class_name}__btn` data-path="first") Оставить заявку
                //- контент
                div(class=`tab__content-item`)
                    - var class_name = `${class_name}`
                    div(class=`${class_name} swiper-container`)
                        div(class=`${class_name}__title`) Шаг № 4 Внешнее остекление парапета
                        div(class=`${class_name}__wrapper swiper-wrapper`)
                            mixin item(name, caption, descr)
                                div(class=`${class_name}-slide swiper-slide`)
                                    img(class=`` src=`https://arbor-nn.ru/wp-content/uploads/2023/02/rectangle-3.jpg` alt=`#`)

                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')


                    div(class=`${class_name}-navigation`)
                        div(class=`${class_name}-navigation__button-prev`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                        div(class=`${class_name}-navigation__button-next`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                    button(class=`${class_name}__btn` data-path="first") Оставить заявку
                //- контент
                div(class=`tab__content-item`)
                    - var class_name = `${class_name}`
                    div(class=`${class_name} swiper-container`)
                        div(class=`${class_name}__title`) Шаг № 4 Внешнее остекление парапета
                        div(class=`${class_name}__wrapper swiper-wrapper`)
                            mixin item(name, caption, descr)
                                div(class=`${class_name}-slide swiper-slide`)
                                    img(class=`` src=`https://arbor-nn.ru/wp-content/uploads/2023/02/rectangle-3.jpg` alt=`#`)

                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')


                    div(class=`${class_name}-navigation`)
                        div(class=`${class_name}-navigation__button-prev`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                        div(class=`${class_name}-navigation__button-next`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                    button(class=`${class_name}__btn` data-path="first") Оставить заявку

                //- контент
                div(class=`tab__content-item`)
                    - var class_name = `${class_name}`
                    div(class=`${class_name} swiper-container`)
                        div(class=`${class_name}__title`) Шаг № 4 Внешнее остекление парапета
                        div(class=`${class_name}__wrapper swiper-wrapper`)
                            mixin item(name, caption, descr)
                                div(class=`${class_name}-slide swiper-slide`)
                                    img(class=`` src=`https://arbor-nn.ru/wp-content/uploads/2023/02/rectangle-3.jpg` alt=`#`)

                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')


                    div(class=`${class_name}-navigation`)
                        div(class=`${class_name}-navigation__button-prev`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                        div(class=`${class_name}-navigation__button-next`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                    button(class=`${class_name}__btn` data-path="first") Оставить заявку

                //- контент
                div(class=`tab__content-item`)
                    - var class_name = `${class_name}`
                    div(class=`${class_name} swiper-container`)
                        div(class=`${class_name}__title`) Шаг № 4 Внешнее остекление парапета
                        div(class=`${class_name}__wrapper swiper-wrapper`)
                            mixin item(name, caption, descr)
                                div(class=`${class_name}-slide swiper-slide`)
                                    img(class=`` src=`https://arbor-nn.ru/wp-content/uploads/2023/02/rectangle-3.jpg` alt=`#`)

                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')


                    div(class=`${class_name}-navigation`)
                        div(class=`${class_name}-navigation__button-prev`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                        div(class=`${class_name}-navigation__button-next`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                    button(class=`${class_name}__btn` data-path="first") Оставить заявку

                //- контент
                div(class=`tab__content-item`)
                    - var class_name = `${class_name}`
                    div(class=`${class_name} swiper-container`)
                        div(class=`${class_name}__title`) Шаг № 4 Внешнее остекление парапета
                        div(class=`${class_name}__wrapper swiper-wrapper`)
                            mixin item(name, caption, descr)
                                div(class=`${class_name}-slide swiper-slide`)
                                    img(class=`` src=`https://arbor-nn.ru/wp-content/uploads/2023/02/rectangle-3.jpg` alt=`#`)

                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')
                            +item('Николай', 'окна в 2х этажный дом', 'Огромное спасибо Сергею, директору "Экопросвет". В июле 2021 поставили 4 окна из лиственницы. Очень довольны. Не писала отзыв, ждала, как себя поведут зимой. Все отлично! Качество на высоте! Спасибо большое, все сделали аккуратно и качественно. Если кому нужны хорошие окна, ставьте, советую.')


                    div(class=`${class_name}-navigation`)
                        div(class=`${class_name}-navigation__button-prev`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                        div(class=`${class_name}-navigation__button-next`)
                            | <svg width="25" height="12" viewBox="0 0 25 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M24.5303 6.53033C24.8232 6.23744 24.8232 5.76256 24.5303 5.46967L19.7574 0.696699C19.4645 0.403806 18.9896 0.403806 18.6967 0.696699C18.4038 0.989593 18.4038 1.46447 18.6967 1.75736L22.9393 6L18.6967 10.2426C18.4038 10.5355 18.4038 11.0104 18.6967 11.3033C18.9896 11.5962 19.4645 11.5962 19.7574 11.3033L24.5303 6.53033ZM0 6.75L24 6.75V5.25L0 5.25L0 6.75Z" fill="white"/>
                            | </svg>
                    button(class=`${class_name}__btn` data-path="first") Оставить заявку

- var class_name = 'short-list'
section(class=`${class_name} tab`)
    div(class=`${class_name}__container`)


        div(class=`${class_name}__inner`)

            //- tabs__content
            div(class=`${class_name}__content tabs__content` )

                mixin item(name, descr, active)
                    div(class=`tab__content-item ${class_name}__content-item ${active}`)
                        div(class=`${class_name}__content--title`)= name
                        div(class=`${class_name}__content--descr`)= descr

                +item('Балконы с пластиковыми окнами', 'ПВХ окна для теплых балконов: Rehau, Veka, Brusbox, Faust, Exprof по цене от 4000 *руб/кв.м. Немецкая фурнитура!', 'tab__content-item--active')
                +item('Балконы с пластиковыми окнами', 'ПВХ окна для теплых балконов: Rehau, Veka, Brusbox, Faust, Exprof по цене от 4000 *руб/кв.м. Немецкая фурнитура!', '')
                +item('Балконы с пластиковыми окнами', 'ПВХ окна для теплых балконов: Rehau, Veka, Brusbox, Faust, Exprof по цене от 4000 *руб/кв.м. Немецкая фурнитура!', '')
                +item('Балконы с пластиковыми окнами', 'ПВХ окна для теплых балконов: Rehau, Veka, Brusbox, Faust, Exprof по цене от 4000 *руб/кв.м. Немецкая фурнитура!', '')
                +item('Балконы с пластиковыми окнами', 'ПВХ окна для теплых балконов: Rehau, Veka, Brusbox, Faust, Exprof по цене от 4000 *руб/кв.м. Немецкая фурнитура!', '')
                +item('Балконы с пластиковыми окнами', 'ПВХ окна для теплых балконов: Rehau, Veka, Brusbox, Faust, Exprof по цене от 4000 *руб/кв.м. Немецкая фурнитура!', '')
                +item('Балконы с пластиковыми окнами', 'ПВХ окна для теплых балконов: Rehau, Veka, Brusbox, Faust, Exprof по цене от 4000 *руб/кв.м. Немецкая фурнитура!', '')
                +item('Балконы с пластиковыми окнами', 'ПВХ окна для теплых балконов: Rehau, Veka, Brusbox, Faust, Exprof по цене от 4000 *руб/кв.м. Немецкая фурнитура!', '')
                +item('Балконы с пластиковыми окнами', 'ПВХ окна для теплых балконов: Rehau, Veka, Brusbox, Faust, Exprof по цене от 4000 *руб/кв.м. Немецкая фурнитура!', '')
                +item('Балконы с пластиковыми окнами', 'ПВХ окна для теплых балконов: Rehau, Veka, Brusbox, Faust, Exprof по цене от 4000 *руб/кв.м. Немецкая фурнитура!', '')
                +item('Балконы с пластиковыми окнами', 'ПВХ окна для теплых балконов: Rehau, Veka, Brusbox, Faust, Exprof по цене от 4000 *руб/кв.м. Немецкая фурнитура!', '')
                +item('Балконы с пластиковыми окнами', 'ПВХ окна для теплых балконов: Rehau, Veka, Brusbox, Faust, Exprof по цене от 4000 *руб/кв.м. Немецкая фурнитура!', '')
                +item('Балконы с пластиковыми окнами', 'ПВХ окна для теплых балконов: Rehau, Veka, Brusbox, Faust, Exprof по цене от 4000 *руб/кв.м. Немецкая фурнитура!', '')
                +item('Балконы с пластиковыми окнами', 'ПВХ окна для теплых балконов: Rehau, Veka, Brusbox, Faust, Exprof по цене от 4000 *руб/кв.м. Немецкая фурнитура!', '')




            //- tab__nav
            div(class=`${class_name}__nav tab__nav`)
                div(class=`${class_name}__title`) Краткий перечень выполненых работ
                ul(class=`${class_name}__list`)

                    mixin item(name, active)
                        div(class=`${class_name}__link tab__link ${active}`)
                            div(class=`${class_name}__left-li `)= name

                    +item('Остекление пластиковыми окнами', 'tab__link--active')
                    +item('Пластиковые раздвижные окна', '')
                    +item('Освещение, розетки, эл. полы', '')
                    +item('Алюминиевые раздвижные окна', '')
                    +item('Ламинированные и тонированные окна', '')
                    +item('Окна сложной геометрической формы', '')
                    +item('Окна с шумоизолирующими пакетами', '')
                    +item('Входные группы в здание или офис', '')
                    +item('Утепление и внутренняя отделка', '')
                    +item('Окна с шпросами', '')
                    +item('Детские замки', '')
                    +item('Отделка балконные откосов', '')
                    +item('Внешняя обшивка', '')
                    +item('Окна с шпросами', '')


- var class_slider = 'mane-slider'
div(class=`${class_slider} swiper-container`)
    div(class=`${class_slider}__wrapper swiper-wrapper`)

        mixin item(img, title, descr)
            div(class=`${class_slider}-slide swiper-slide`)
                img(class=`` src=`https://arbor-nn.ru/wp-content/uploads/2023/02/slide.jpg` alt=`#`)
                div(class=`${class_slider}-slide-info`)
                    div(class=`${class_slider}-slide-info__title`) Технологии остекления балконов
                    div(class=`${class_slider}-slide-info__subtitle`) Мотаж по госту
                    div(class=`${class_slider}-slide-info__descr`) Многие установщики вообще не знают, что такое монтаж по ГОСТ, а окна стоят по 20-30 лет без проблем. В 99 случаев из 100 такой подход оправдывает себя, а отсутствие наружного паропроницаемого и внутреннего диффузного слоев не оказывает сколь-нибудь значимое влияние на эксплуатацию. Главное соблюсти одно условие - паропроницаемость монтажного шва со стороны улицы должна быть значительно выше, чем со стороны помещения. Это выполняется при условии, что у монтажника прямые руки, качественная монтажная пена, а наружный шов заделан паропроницаемой штукатуркой или пластиковыми накладками - нащельниками. Установка внутренних откосов из ПВХ или сэндвич-панелей с успехом компенсирует отсутствие внутреннего герметизирующего слоя.

        +item()
        +item()
        +item()
        +item()
        +item()
        +item()


