.div.seo__wrapper

    //- seo-include
	- var class_name = 'seo-include'
    section(class=`${class_name} tab`)
        div(class=`${class_name}__container`)
            div(class=`${class_name}__title`) ЧТО ВХОДИТ В SEO ПРОДВИЖЕНИЕ КОРПОРАТИВНОГО САЙТА?

            div(class=`${class_name}__wrapper`)

                //- tab__nav
                div(class=`${class_name}__nav tab__nav`)

                    div(class=`${class_name}__link tab__link tab__link--active`)
                        div(class=`${class_name}__link-num`) 01
                        div(class=`${class_name}__link-text`) Подготовка и формирование плана работ по сайту

                    div(class=`${class_name}__link tab__link`)
                        div(class=`${class_name}__link-num`) 02
                        div(class=`${class_name}__link-text`) Сбор и распределение ключевых запросов

                    div(class=`${class_name}__link tab__link`)
                        div(class=`${class_name}__link-num`) 03
                        div(class=`${class_name}__link-text`) Настройка сайта и системы аналитики

                    div(class=`${class_name}__link tab__link`)
                        div(class=`${class_name}__link-num`) 04
                        div(class=`${class_name}__link-text`) Составление технического задания и написание текстов

                    div(class=`${class_name}__link tab__link`)
                        div(class=`${class_name}__link-num`) 05
                        div(class=`${class_name}__link-text`) Сбор и распределение ключевых запросов

                    div(class=`${class_name}__link tab__link`)
                        div(class=`${class_name}__link-num`) 06
                        div(class=`${class_name}__link-text`) Настройка сайта и системы  аналитики

                    div(class=`${class_name}__link tab__link`)
                        div(class=`${class_name}__link-num`) 07
                        div(class=`${class_name}__link-text`) Контроль и улучшение сайта




                //- tabs__content
                div(class=`${class_name}__content tabs__content` )

                    //- контент первого таба
                    div(class=`tab__content-item tab__content-item--active`)
                        div(class=`tab__content-title `) 01
                        ul(class=`tab__content-ul`)
                            li(class='li--one') Проверка индексаци и <span>в Яндексе и в Google</span>
                            li(class='li--two') Проверка корректности robots.txt
                            li(class='li--three') Проверка структуры сайта
                            li(class='li--two') Проверка корректности составления ЧПУ
                            li(class='li--three') Проверка настройки кодов ответа сервера (200, 404, 50*)
                            li(class='li--four') Проверка на дубликаты страниц, мета-тегов
                            li(class='li--one') Проверка <span>HTML кода сайта</span>
                            li(class='li--four') Проверка корректности оформления страницы контактов
                            li(class='li--three') Проверка контента сайта на спам
                            li(class='li--two') Проверка контента на <span>уникальность текста</span>
                            li(class='li--three') Анализ внешних ссылок
                            li(class='li--four') Проверка работоспособности HTML форм на сайте
                            li(class='li--four') Проведение юзабилити аудита

                    //- контент второго таба
                    div(class=`${class_name}-item tab__content-item`)
                        div(class=`tab__content-title `) 02
                        ul(class=`tab__content-ul`)
                            li Проверка индексаци и <span>в Яндексе и в Google</span>
                            li Проверка корректности robots.txt
                            li Проверка структуры сайта
                            li Проверка корректности составления ЧПУ
                            li Проверка настройки кодов ответа сервера (200, 404, 50*)
                            li Проверка на дубликаты страниц, мета-тегов
                            li Проверка <span>HTML кода сайта</span>
                            li Проверка корректности оформления страницы контактов
                            li Проверка контента сайта на спам
                            li Проверка контента на <span>уникальность текста</span>
                            li Анализ внешних ссылок
                            li Проверка работоспособности HTML форм на сайте
                            li Проведение юзабилити аудита

                    //- контент второго таба
                    div(class=`${class_name}-item tab__content-item`)
                        div(class=`tab__content-title `) 03
                            ul(class=`tab__content-ul`)
                                li Проверка индексаци и <span>в Яндексе и в Google</span>
                                li Проверка корректности robots.txt
                                li Проверка структуры сайта
                                li Проверка корректности составления ЧПУ
                                li Проверка настройки кодов ответа сервера (200, 404, 50*)
                                li Проверка на дубликаты страниц, мета-тегов
                                li Проверка <span>HTML кода сайта</span>
                                li Проверка корректности оформления страницы контактов
                                li Проверка контента сайта на спам
                                li Проверка контента на <span>уникальность текста</span>
                                li Анализ внешних ссылок
                                li Проверка работоспособности HTML форм на сайте
                                li Проведение юзабилити аудита

                    //- контент второго таба
                    div(class=`${class_name}-item tab__content-item`)
                        div(class=`tab__content-title `) 04
                            ul(class=`tab__content-ul`)
                                li Проверка индексаци и <span>в Яндексе и в Google</span>
                                li Проверка корректности robots.txt
                                li Проверка структуры сайта
                                li Проверка корректности составления ЧПУ
                                li Проверка настройки кодов ответа сервера (200, 404, 50*)
                                li Проверка на дубликаты страниц, мета-тегов
                                li Проверка <span>HTML кода сайта</span>
                                li Проверка корректности оформления страницы контактов
                                li Проверка контента сайта на спам
                                li Проверка контента на <span>уникальность текста</span>
                                li Анализ внешних ссылок
                                li Проверка работоспособности HTML форм на сайте
                                li Проведение юзабилити аудита

                    //- контент второго таба
                    div(class=`${class_name}-item tab__content-item`)
                        div(class=`tab__content-title `) 05
                            ul(class=`tab__content-ul`)
                                li Проверка индексаци и <span>в Яндексе и в Google</span>
                                li Проверка корректности robots.txt
                                li Проверка структуры сайта
                                li Проверка корректности составления ЧПУ
                                li Проверка настройки кодов ответа сервера (200, 404, 50*)
                                li Проверка на дубликаты страниц, мета-тегов
                                li Проверка <span>HTML кода сайта</span>
                                li Проверка корректности оформления страницы контактов
                                li Проверка контента сайта на спам
                                li Проверка контента на <span>уникальность текста</span>
                                li Анализ внешних ссылок
                                li Проверка работоспособности HTML форм на сайте
                                li Проведение юзабилити аудита

                    //- контент второго таба
                    div(class=`${class_name}-item tab__content-item`)
                        div(class=`tab__content-title `) 06
                            ul(class=`tab__content-ul`)
                                li Покупка вечных ссылок на порталах со статьями
                                li Удаление негативных отзывов на тематических порталах
                                li Размещение положительных отзывов на тематических порталах


                    //- контент второго таба
                    div(class=`${class_name}-item tab__content-item`)
                        div(class=`tab__content-title `) 07
                            ul(class=`tab__content-ul`)
                                li Ежеминутный мониторинг доступности сайта
                                li Ежедневная работа над улучшением поведенческих факторов у сайта
                                li Ежедневная отчётность по позициям
                                li Еженедельная диагностика сайта
                                li Ежемесячная проверка оптимизации сайта
                                li Ежеквартальная актуализация семантического ядра
                                li Ежедневный мониторинг репутации компании в интернете



