- var class_name = 'news'

section(class=`${class_name}`)
	div(class=`${class_name}__container`)

		div(class=`${class_name}__title`) <span>преимущества</span> полиэтиленового воска

		div(class=`${class_name}__list`)
			mixin item(name,img,descr)

				div(class=`item-${class_name}`)

					div(class=`item-${class_name}__img`)
						img(src=`https://kremlnn.ru/assets/News/Arh.jpg` alt=`#`)
					div(class=`item-${class_name}__info`)
						div(class=`item-${class_name}__date`)= descr
						div(class=`item-${class_name}__name`)= name


			+item('В Еловом сквере откроется детский павильон с летней верандой Губернского кафе','1-icon.png','07/06/22')
			+item('В Еловом сквере откроется детский павильон с летней верандой Губернского кафе','1-icon.png','07/06/22')
			+item('В Еловом сквере откроется детский павильон с летней верандой Губернского кафе','1-icon.png','07/06/22')
			+item('В Еловом сквере откроется детский павильон с летней верандой Губернского кафе','1-icon.png','07/06/22')
			+item('В Еловом сквере откроется детский павильон с летней верандой Губернского кафе','1-icon.png','07/06/22')